.chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 60%;
    border-radius: 10px;
    /* Corrected the value */
    margin-top: 1%;
    margin-bottom: 2%;
    overflow: hidden;
    /* To make sure the inside scrollbar respects the border-radius */
}

.chat-box {
    flex: 1;
    overflow-y: auto;
    padding-right: 1.5rem;

    /* Scrollbar styling */
    scrollbar-width: thin;
    scrollbar-color: #BBDEFB #1E88E5;
    /* Light blue thumb and darker blue track */

    /* For WebKit browsers */
    ::-webkit-scrollbar {
        width: 12px;
        /* Adjusted width for a slightly thicker scrollbar */
    }

    ::-webkit-scrollbar-track {
        background-color: #1E88E5;
        /* Darker blue track */
        border-radius: 10px;
        /* Rounded edges for the track */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #BBDEFB;
        /* Light blue thumb */
        border-radius: 10px;
        /* Rounded scrollbar thumb */
        border: 2px solid #1E88E5;
        /* Darker blue border around the thumb */
    }

    /* Add hover effect */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #90CAF9;
        /* Slightly darker blue on hover */
    }
}

.input-box {
    display: flex;
    padding: 0.5rem;
}

.input-box input {
    flex-grow: 1;
    /* Make the input take up all available space */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    /* Remove the default focus outline */
}

.input-box input::placeholder {
    color: #888;
    /* Set the color of the placeholder text */
    opacity: 1;
    /* Override browser default (fix for Firefox) */
}

.input-box input:focus::placeholder {
    color: #aaa;
    /* Change color on focus */
}

/* For Internet Explorer */
.input-box input:-ms-input-placeholder {
    color: #888;
}

/* For Edge */
.input-box input::-ms-input-placeholder {
    color: #888;
}

.input-box input {
    flex: 1;
    margin-right: 1%;
    padding-left: 10px;
    font-family: 'Gabarito', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
}


.message-right,
.message-left {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: 'Gabarito', sans-serif;
}

.message-right {
    text-align: right;
}

.message-left {
    margin-left: 1rem;
    text-align: left;
}

.loading {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Adjust the height as needed */
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 8px solid white;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .chat-container {
        display: flex;
        flex-direction: column;
        height: 95vh;
        /* Adjust this value as needed */
        width: 100%;
        /* Flexible width */
        border-radius: 5px;
        /*margin: 1rem auto; */
    }


}