:root {
    /* Light theme */
    --text-color: black;
    --bg-color: white;
    --body-bg-color: white;
    /* default body background */
}

[data-theme="dark"] {
    /* Dark theme */
    --text-color: white;
    --bg-color: black;
    --body-bg-color: black;
    /* dark body background */
}

/* Set body or wrapper background */
body,
.app-wrapper {
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

.homePage {
    text-align: center;
    margin: 0 auto;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.homePage__header {
    max-width: 800px;
    margin: 0 auto;
    /* additional styling if needed */
}

.homePage__chat {
    display: flex;
    justify-content: center;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    /* Adjust as needed */
    width: 800px;
    /* Fixed width */
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 30px;
    /* Add margin at the top */
}

.chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    /* Align text to the left */
}


.input-box {
    display: flex;
    padding: 10px;
}

.input-box input {
    flex: 1;
}

.message-right,

.message-left {
    margin-bottom: 15px;
    /* Adds space below each message */
}

.message-right {
    text-align: right;
}

.message-left {
    text-align: left;
}

.loading {
    /* Your loading styles here, e.g., */
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* You can adjust this value based on your specific layout */
    width: 100%;
}