@font-face {
    font-family: 'Gabarito';
    src: url('/fonts/Gabarito.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

:root {
    /* Light theme */
    --text-color: black;
    --bg-color: white;
    --body-bg-color: white;
}

[data-theme="dark"] {
    /* Dark theme */
    --text-color: white;
    --bg-color: rgb(8, 5, 71);
    --body-bg-color: rgb(8, 5, 71);
}

body,
.app-wrapper {
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

.homePage {
    text-align: center;
    margin: 0 auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0.5%;
}

.homePage__header {
    margin: 0 auto;
    width: 50%;
    font-size: 1rem;
    font-family: 'Gabarito', sans-serif;
    line-height: 1.6;
}

.homePage__chat {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}