.container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.profile-container {
    height: 50%;
    /* Percentage of the parent element */
    max-width: 150px;
    /* Maximum width */
    height: auto;
    /* Maintain aspect ratio */
    overflow: hidden;
}

.profile-picture {
    width: 80%;
    /* Percentage of the .profile-container */
    border-radius: 20%;
    object-fit: cover;
}

.message {
    margin-left: 1rem;
    margin-top: 2rem;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Gabarito', sans-serif;
}

/* Media Query Example */
@media (max-width: 768px) {
    .profile-container {
        width: 25%;
        min-width: 70px;
        /* Adjusted for smaller screens */
    }

    .message {
        margin-left: 1rem;
        margin-top: 0.5rem;
        text-align: left;
        font-size: 1.2rem;
        font-family: 'Gabarito', sans-serif;
    }
}